extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content


    .container
      .slider
        .swiper-button-next.slider_right_arrow
          span
        .swiper-button-prev.slider_left_arrow
          span
        .slider_container
          .swiper-container
            .swiper-wrapper
              // <div class="swiper-slide"><a href="https://vk.com/ny_streetpizza"><img src="/frontend/web/images/huga.jpg" alt="slider-image-n4"/></a></div>
              // <div class="swiper-slide"><img src="/frontend/web/images/1234.jpg" alt="slider-image-1"/></div>
              // <div class="swiper-slide"><img src="/frontend/web/images/n-1.jpg" alt="slider-image-n1"/></div>
              // <div class="swiper-slide"><img src="/frontend/web/images/march.jpg" alt="slider-image-2"/></div>
              .swiper-slide
                img(src='/frontend/web/images/7.jpg' alt='slider-image-6')
              .swiper-slide
                a(href='http://nysp.ru/product/picca-cikago' target='_blank')
                  img(src='/frontend/web/images/chicago.jpg' alt='slider-image-chicago')
              .swiper-slide
                a(href='http://nysp.ru/product/pesto-1' target='_blank')
                  img(src='/frontend/web/images/pesto.jpg' alt='slider-image-chicago')
              .swiper-slide
                a(href='http://nysp.ru/product/meksikano' target='_blank')
                  img(src='/frontend/web/images/mex.jpg' alt='slider-image-chicago')
              .swiper-slide
                a(href='http://nysp.ru/product/cetyre-sezona' target='_blank')
                  img(src='/frontend/web/images/4x1.jpg' alt='slider-image-chicago')
              .swiper-slide
                img(src='/frontend/web/images/2223.jpg' alt='slider-image-1')
              .swiper-slide
                img(src='/frontend/web/images/2.jpg' alt='slider-image-2')
              // <div class="swiper-slide"><img src="/frontend/web/images/1111.jpg" alt="slider-image-3"/></div>
              .swiper-slide
                img(src='/frontend/web/images/1.jpg' alt='slider-image-4')
              .swiper-slide
                img(src='/frontend/web/images/6.jpg' alt='slider-image-5')
              .swiper-slide
                img(src='/frontend/web/images/4.jpg' alt='slider-image-8')
              // <div class="swiper-slide"><img src="/frontend/web/images/grand-hunt.jpg" alt="slider-image-7"/></div>
