.page__mobile{
    margin-top: 50px;
}

.cat_page{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.cat_page__item--img{
    border-radius: 50%;
}
.cat_page__item--img:hover{
    border: 3px solid $org;
    margin: -3px;
}